%form#new-order-form{:name => "orderForm", "ng-if" => "orderListCtrl.new"}
  %fieldset.form-group
    %legend New order
    .form-group
      %label{:for => "restaurant_name"}
        Restaurant name
      %input#restaurant_name.form-control{"name" => "restaurant_name", 
                                          "ng-model" => "orderListCtrl.order.restaurant_name", 
                                          "type" => "text", 
                                          "ng-minlength" => 5,
                                          "required" => true,
                                          "autocomplete" => false}
      .errors
        %ul
          %li{"ng-show" => "orderForm.restaurant_name.$dirty && orderForm.restaurant_name.$error.required"} Restaurant name is required
          %li{"ng-show" => "orderForm.restaurant_name.$dirty && orderForm.restaurant_name.$error.minlength"} Restaurant must contain at least 5 characters
  .formm-group
    %button.btn.btn-primary{"ng-click" => "orderListCtrl.save()", "ng-disabled" => "orderForm.$invalid"} Submit