%form{:novalidate => ""}
  .form-group
    %label{:for => "restaurant_name"} Restaurant name
    %input#restaurant_name.form-control{"ng-model" => "orderCtrl.order.restaurantName", :value => "orderCtrl.order.restaurantName"}/
  .form-group
    %select.form-control{"ng-if" => "orderCtrl.order", "ng-model" => "orderCtrl.order.status", "ng-options" => "status for (id, status) in orderCtrl.order.statuses"}
  .form-group
    %button.btn.btn-primary{"ng-click" => "orderCtrl.update()"} Save
%form