%div
  %h2 Orders
  %input.new-order-button{"ng-model" => "orderListCtrl.new", :type => "checkbox"}
  %strong Create new order
  %div{"ng-include" => "'order/views/_form.html'"}
  %table.table.order-list{"ng-if" => "orderListCtrl.orders.length > 0"}
    %tr
      %th Restaurant name
      %th Created at
      %th Actions
    %tr{"ng-repeat" => "order in orderListCtrl.orders"}
      %td
        %a{"ui-sref" => "showOrder({id: order.id})"}{{order.restaurantName}}
      %td {{order.createdAt}}
      %td
        %a.btn.btn-success.btn-xs{"ui-sref" => "showOrder({id: order.id})"} Show
        %a.btn.btn-default.btn-xs{"ui-sref" => "editOrder({id: order.id})"} Edit
        %span.btn.btn-danger.btn-xs{"ng-click" => "orderListCtrl.delete(order)"} Delete