%h1 Order
%table.table.order-table
  %tr
    %th Restaurant name
    %th Created at
    %th Total price
    %th Status
  %tr
    %td {{orderCtrl.order.restaurantName}}
    %td {{orderCtrl.order.createdAt}}
    %td {{orderCtrl.order.getTotal() | currency : "PLN " }}
    %td.status{"ng-class" => "orderCtrl.order.order_class()"} {{orderCtrl.order.status}}
%input{"ng-model" => "orderCtrl.new_meal", :type => "checkbox"}/
%div{"ng-include"=>"'meal/views/_form.html'"}
%strong Add meal
%div{"ng-if" => "orderCtrl.meals.length > 0"}
  %h3 Order's meals
  %ul.list-group
    %li.list-group-item{"ng-repeat" => "meal in orderCtrl.meals"}
      %div
        %b Name:
        {{meal.name}}
        %span.btn.btn-danger.btn-xs{"ng-click" => "orderCtrl.destroy_meal(meal)"} Destroy
      %div
        %b Added at:
        {{meal.createdAt}}
      %div
        %b Price:
        {{meal.price | currency : "PLN "}}
      %div
        %b Added by:
        %div
          %img{"ng-src" => "{{meal.user.imageUrl}}"}
          %span
            %b {{meal.user.name}}
