%form#new-meal-form{:name => "mealForm", "ng-if" => "orderCtrl.new_meal","autocomplete" => false}
  %fieldset
    %legend New meal
    .form-group
      %label{:for => "name"} Name
      %input.form-control{"name" => "name", 
                          "ng-model" => "orderCtrl.meal.name",
                          "ng-minlength" => 5,
                          "required" =>true}
        .errors
          %ul
            %li{"ng-show" => "mealForm.name.$dirty && mealForm.name.$error.minlength"} Name must contain at least 5 characters
            %li{"ng-show" => "mealForm.name.$dirty && mealForm.name.$error.required"} Name is required
    .form-group
      %label{:for => "name"} Price
      %input.form-control{"ng-model" => "orderCtrl.meal.price",
                          "name" => "price",
                          "required"=>true,
                          "autocomplete" => false}
        .errors
          %ul
            %li{"ng-show" => "mealForm.price.$dirty && mealForm.price.$error.required"} Price is required
    .form-group
      %button.btn.btn-primary{"ng-click" => "orderCtrl.add_meal()",
                              "ng-disabled" => 'mealForm.$invalid'} Add meal