ul.reset{
  list-style: none;
  margin: 0;
  padding: 0;
}
.order-list{
  margin-top: 40px;
}
input.ng-invalid.ng-dirty{
  border: solid 2px #dc2020;
}
#new-order-form, #new-meal-form{
  margin-top:20px;
}
.errors{
  color: #dc2020;
}
#new-order-form{
  .errors{
    ul{
      list-style: none;
    }
  }
}
a.btn-primary:visited{
  color:white;
}
a.btn-danger:visited{
  color:white;
}
a.btn-success:visited{
  color:white;
}
login-popup{
  background: rgba(0, 0, 0, 0.53);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .content {
    width: 202px;
    height: 46px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
.status{
  color: black;
}
.order-table{
  td,th{
    text-align:center
  }
}