!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LunchTime
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{'ng-app': 'lunchTime'}
    - if current_user
      =link_to 'Logout', 'logout', class: "btn btn-danger"
    - else
      =link_to 'Login', 'auth/facebook', class: "btn btn-primary"
    %login-popup{"ng-if" => "unauthorized"}
    %flash-message{"duration": "5000", "show-close": "true"}
    %div{'ui-view': true}